@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
html {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: honeydew;
  background-image: url(../samuel-zeller-157385.jpg);
  background-size: 100%;
  background-size: no-repeat;
}

#container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Rock Salt', cursive;
  color: #F9690E;
  text-shadow: 3px 3px blue;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}
