@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 95%;
}

video {
  position: fixed;
  display: block;
  clear: both;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.wrapper {
  position: absolute;
  z-index: 2;
  background: rgba(108,122,137,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hello {
  text-align: center;
  width: 500px;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding-bottom: 50px;
}

h1 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-bottom: 0;
  text-shadow: 0 1px 5px black;
}

footer {
  height: 45px;
  width: 100%;
  background-color: rgb(191, 85, 236);
  position: fixed;
  z-index: 3;
  text-align: center;
  bottom: 0;
  border-top: 3.5px solid rgba(142, 68, 173, .5);
  display: block;
  float: left;
}

footer:hover {
  background-color: rgb(142, 68, 173);
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin: 0 auto;
  padding: 12px 25px;
  border: none;
  color: white;
  background-color: transparent;
  align-content: space-around;
  font-weight: 900;
  text-shadow: 0 0 20px black;
}


a {
  color: black;

}

hr {
  border: 1px solid black;
}

.icon {
  padding: 15px 10px 0 10px;
  color: white;
  text-shadow: -1px 1px 10px turquoise;
}
